/* cut css classes and place in this style sheet */



/* name of the class preceded by a dot */
/* refactoring––changing the form of the code without changing its function */
/* browser auto applies this rule to any element with this class */
.navbar_text-dec_color {
  text-decoration: none; color: blue;
}
.nav_menu {
  text-align: right;
}
.nav_spacing {
  margin: 0 10px 0 0;
}
